@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}
:root {
  --bgOrange: #e84949;
}
#wrapper {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}
.nav-items {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  padding: 1.5rem;
}
.nav-items li {
  list-style-type: none;
}
.nav-items li a {
  text-decoration: none;
  color: #1f1f1f;
  transition: font-weight 0.3s;
  font-size: 1.7rem;
  line-height: 17px;
  cursor: pointer;
}
.logo {
  width: 80px;
}
.logo-container {
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.logoText {
  margin-left: -0.7rem;
  font-size: 28px;
}
.nav-items li:hover {
  font-weight: bold;
  transition: 0.2s ease;
  transform: scale(1.1);
}

/* hero section starts */

.hero-section {
  gap: 10rem;
  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1200px;
}
.faded-text {
  user-select: none;
  font-size: 6em;
  color: #e7e7e7;
  bottom: -30%;
  left: -20%;
  font-weight: bold;
}
.hero-section-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
.hero-section-heading {
  font-size: 35px;
  color: #343d68;
  font-weight: 500;
}
.role {
  color: #4e45d5;
  font-weight: 800;
}
.hero-section-subheading {
  font-size: 45px;
  line-height: 45px;
}
.hero-section-desc {
  margin-top: 1rem;
  font-weight: 500;
  width: 70%;
  font-size: 1.2rem;
}

.hero-section-right {
  position: relative;
}
.absolute {
  position: absolute;
}
.UserImage {
  padding: 2.5rem; /* Your desired padding value */
  animation: scaleImage 5s linear infinite;
  width: 345px;
  height: 390px;
  background-color: aqua;
}

.UserImage img {
  z-index: -1;
  width: 100%;
}
@keyframes scaleImage {
  0% {
    filter: grayscale(1);
    transform: scale(1);
  }
  50% {
    filter: grayscale(0);
    transform: scale(1.1);
    box-shadow: 3px 3px 10px black;
  }
  100% {
    filter: grayscale(1);
    transform: scale(1);
  }
}

.icons {
  z-index: 2;
}
.iconDots {
  bottom: -1rem;
  right: 0;
  animation: dotsAnimation 5s linear infinite;
}
@keyframes dotsAnimation {
  50% {
    transform: translateY(-15px);
  }
}
.iconZigZag {
  z-index: 10;
  top: 1.5em;
  left: -0.3em;
  animation: zigzagAnimation 5s infinite;
}

@keyframes zigzagAnimation {
  50% {
    left: 5%;
    top: 3%;
  }
}

.icon-cube {
  /* z-index: 9; */
  top: -0.8em;
  right: 1em;
  animation-name: cubeRotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes cubeRotate {
  0% {
    transform: rotateY(0) translateY(0);
  }
  50% {
    transform: rotateY(180deg) translateY(-12px);
  }
  100% {
    transform: rotateY(360deg) translateY(0px);
  }
}
.icon-circle {
  z-index: 9;
  left: 0;
  bottom: 0;
  animation-name: shakeEffect;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes shakeEffect {
  50% {
    left: 5%;
    bottom: 10%;
  }
}
.icon-plus {
  z-index: 9;
  top: -0.8rem;
  left: 50%;
  animation: shakeEffectPlus 5s ease-in infinite;
}

@keyframes shakeEffectPlus {
  50% {
    top: 2%;
    left: 48%;
  }
}

/* Animated button  */

.btn-pink {
  background-color: #e84949;
  width: 15rem;
  padding: 10px 20px;
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  z-index: 1;
  border-radius: 5px;
}
.btn-pink::before {
  content: "";
  background-color: lightgreen;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.9s ease;
}
.btn-pink:hover::before {
  transform: scaleX(1);
}
.btn-pink:hover {
  font-size: 1.6rem;
  transition: 0.8s ease-in;
  cursor: pointer;
  color: grey;
}

/* project section starts  */

.projectSection {
  margin-top: 12rem;
  background-color: #e7e7e7;
}
.projectTitle {
  color: #e84949;
  font-size: 90px;
  line-height: 75px;
  padding: 50px 0 30px;
  text-align: center;
}
.projectContainer {
  display: flex;
  flex-direction: column;
  gap: 120px;
  /* width: 100%; */
}
#project1 {
  background-image: url(./Images/projects/Project1.png);
  right: 5%;
}
#project2 {
  background-image: url(./Images/projects/Project2.png);
  left: 5%;
}
#project3 {
  background-image: url(./Images/projects/Project3.png);
  right: 5%;
}

#project4 {
  background-image: url(./Images/projects/Project4.png);
  left: 5%;
}
.projectSkillsContainer {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 60%; */
  gap: 1em;
}

.projectSkill {
  width: 40px;
}
.projectCard {
  width: 80%;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0px 0px 40px #1f1f1f;
  margin: 2rem auto;
  z-index: 2;
}
.projectContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  padding: 4em;
  bottom: 20%;
  position: absolute;
  z-index: 5;
  transition: all 0.4s;
}
.projectCard::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  z-index: 1;
  transition: 0.5s all;
  transform-origin: left;
  transform: scaleX(0);
}

.projectCard:hover::before {
  transform: scaleX(1);
}
.projectNumber {
  position: absolute;
  font-size: 200px;
  font-weight: 600;
  color: #fff;
  display: none;
  z-index: 10;
  transition: 0.8s;
}
.leftProjectContent {
  left: 5%;
}

.rightProjectContent {
  right: 5%;
}
.rightNumber {
  top: -45px;
  right: -45px;
}
.leftNumber {
  top: -45px;
  left: -45px;
}
.projectCard:hover .projectNumber {
  display: block;
}
.projectHeading {
  font-size: 50px;
  font-weight: bold;
  line-height: 3rem;
  color: white;
}

.projectSubHeading {
  font-size: 16px;
  font-style: italic;
  width: 70%;
}

.projectCard:hover .projectContent {
  transform: scale(1.1);
}
.btnGroup {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}


/* form starts here  */
.formContainer
{
  width: 100%;
  /* background-color: rgb(231,231,231); */
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formHeading
{
  font-size: 5rem;
  color: var(--bgOrange);
  padding-top: 2rem;
}
.formSubheading
{
  font-size: 3rem;
  color: #343d68aa;
  text-transform: capitalize;
}
.formfield-container
{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.formfield
{
  width: 100%;
  height: 42px;
  margin: 20px 0;
  padding:0 2rem;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #1f1f1f;
}
.formfield-textarea
{
  height: auto;
  padding-top: 1rem;
}

/* footer starts here  */
footer{
  position: relative;
  margin-top: -1px;
  background-color: #343d68;
  padding: 5rem;
}
.footer-wrapper
{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1.2rem;
  align-items: center;
}
.footer-fadedText
{
  user-select: none;
  font-size: 6em;
  color: #e7e7e7a6;
  bottom: -5%;
  left: 0%;
  font-weight: bold;
}
div > a
{
  text-decoration: none;
  color: #1f1f1f;
  transition: font-weight 0.3s;
  font-size: 1.7rem;
  line-height: 17px;
  cursor: pointer;
  color: white;
}
.link-wrapper
{
  display: flex;
}
.footerLink
{
  padding: 10px;
}
.footerLink:hover {
  /* font-weight: 600; */
  transition: 0.6s ease;
  transform: scale(1.1);
}